<style>

.style22 {font-size: 22pt; font-weight: bold; font-family: "TH SarabunPSK", sans-serif; }

body {
  font-size: 10pt; font-family: 'Taviraj', serif;
  background-image: url(images/BG7.jpg);
  background-repeat: repeat;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

</style>
